html{
    padding: -2%;
    margin: -1%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #333;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    width: 1543px;
}