<div id="inp">
    <div id="log">
        <input type="button" value="LOGIN" class="toggle">
        <input type="button" value = "SIGN UP" class="toggle">
    </div>
    <div id="signup">
        <p>
            <label for="">First Name</label><br>
            <input type="text" class="in" size="30">
        </p>
        <p>
            <label for="">Last Name</label><br>
            <input type="text" class="in" size="30">
        </p>
        <br><br><br><br><br>
        <label for="">Email</label><br>
        <input type="email" class="in">
        <br><br>
        <label for="">Create Password</label><br>
        <input type="password" class="in">
        <br><br>
        <label for="">Re Enter Password</label><br>
        <input type="password" class="in">
        <br><br>
        <input type="submit" value="SIGN UP">
    </div>
</div>

<div class="container">
    <img src="/assets/images/calculator.avif" alt="">
  </div>