<div id="inp">
    <div id="log">
        <button value="LOGIN" class="toggle" (click) = "onLogin()" id="logg">LOGIN</button>
        <button value="LOGIN" class="toggle" (click) = "onSignup()" id="sign">SIGN UP</button>
    </div>
    <div id="signup" *ngIf = "!isLogin">
        <p>
            <input type="text" id="inputEmail" size="70" class="in" #fname>
            <label class="control-label" for="inputEmail" id="fname">First Name</label>
        </p>
        <p>
            <input type="text" id="inputEmail" size="70" class="in" #lname>
            <label class="control-label" for="inputEmail" id="lname">Last Name</label>
        </p>
        <p>
            <input type="email" id="inputEmail" size = "70" class="in" #mail>
            <label class="control-label" for="inputEmail" id="mail">Email</label>
        </p>
        <p>
            <input type="password" id="inputEmail" size="70" class="in" #cpass>
            <label class="control-label" for="inputEmail" id="cpass">Create Password</label>
        </p>
        <p>
            <input type="password" id="inputEmail"size = "70" class="in" #repass>
            <label class="control-label" for="inputEmail" id="repass">Re Enter Password</label>
        </p>
        <input type="submit" value="SIGN UP" id="sub" (click) = "onSubmitSignup(fname.value,lname.value,mail.value,cpass.value,repass.value)">
    </div>
        
    <div id="login" *ngIf = "isLogin">
        <p>
            <input type="text" id="inputEmail"size = "70" class="in" #uname>
            <label class="control-label" for="inputEmail" id="uname">Enter Username</label>
        </p>
        <p>
            <input type="password" id="inputEmail"size = "70" class="in" #pass>
            <label class="control-label" for="inputEmail" id="pass">Enter Password</label>
        </p>
        <br>
        <a href="">Forgot Password?</a><br>
        <input type="submit" value="LOGIN" id="sub" (click) = "onSubmitLogin(uname.value, pass.value)">
    </div>
</div>

<h1>SAVINGS PLANNER</h1>
<div class="container">
    <img src="/assets/images/calculator.avif" alt="">
  </div>
