#req{
    padding-top: 2%;
    position: absolute;
    left: 25%;
    right: 25%;
    border-radius: 20px;
    height: 80%;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
}
#resulttext{
    top: 10%;
    padding-top: 2%;
    position: absolute;
    left: 25%;
    right: 25%;
    border-radius: 20px;
    height: 80%;
    width: 50%;
    background-color: white;
    color: black;
    border: none;
}
label{
    margin-left: 13%;
    color: white;
}
input{
    float: right;
    margin-right: 13%;
    color: white;
    background-color: #444;
    width: 50%;
    border: none;
    border-bottom: 3px solid white;
}
input:focus{
    outline: none;
}
p{
    margin: 7% 0%;
}
button{
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: #444;
    box-shadow: 1px 3px #888;
    margin-left: 37%;
    padding: 2% 5%;
    cursor: pointer;
}
#incr{
    width: 15%;
}